{% extends 'base.html.twig' %}

{% block body %}
    <div id='filterVideo'>
    </div>
    <div id='videoAccueil'>
        <iframe src="https://www.youtube.com/embed/zF5Ddo9JdpY?controls=0&loop=1&autoplay=1&mute=1&playlist=zF5Ddo9JdpY" title="YouTube video player"></iframe>
    </div>
{% endblock %}
