body {
    background-color:#15141A !important;
    color:white;
}
h1 {
    font-size:2.5rem;
}
.soustitre {
    font-size:2rem;
}
.WS-color {
    color:#9DACFF;
}

/* ACCUEIL */
iframe {
    position: absolute;
    left: -200px;
    width: 100%;
    height: 100%;
}
#videoAccueil {
    background: url('../img/bg/weakside-sf_Mobile.jpg') 50% no-repeat;
    background-size: cover;
    position: fixed;
    width: 120%;
    height: 120%;
    top: 0;
}
#videoAccueil iframe {
    display:none;
}
#filterVideo {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(18,14,29,0.9) 0%, rgba(18,14,29,0.9) 100%);
    z-index: 10;
    top: 0;
}

/* MENU */
nav {
    color:#9DACFF;
    z-index:90;
    position:relative;
    margin-bottom:8em;
}
nav>div {
    justify-content:center;
    align-items:center;
    height:7rem;
    width:400px;
    position:relative;
}
nav svg {
    color:#9DACFF;
}
nav button {
    position:absolute;
    left:3rem;
}
nav button:focus {
    box-shadow:none !important;
}

.logoWeakside {
    font-size:4rem;
    font-weight:400;
    margin-left:2em;
}
.logoWeakside a {
    margin:0 !important;
    color:#9DACFF;
    text-decoration:none;
}

#menuWeakside a {
    color:white;
    text-decoration:none;
    font-size:3.5rem;
}
#menuWeakside {
    height:100vh;
    position:fixed;
    background-color:#9DACFF;
    width:100%;
    top:0;
    z-index:45;
    display:none;
    padding-top:50%;
}
#menuWeakside ul {
    list-style: none;
    width:100%;
    padding:0;
}
#menuWeakside li {
    text-align:center;
    margin-bottom:2rem;
    font-weight:400;
}

#hideMenu {
    height:6rem;
    width:6rem;
    color:#9DACFF;
    background-color:#15141A;
    border-radius:150px;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    right:5rem;
    top:50%;
    cursor:pointer;
}
#hideMenu img {
    width:100%;
}
#hideMenu p {
    margin:0 !important;
    font-size:1.2rem;
}

#footerWeakside {
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
#footerWeakside>div {
    text-align: center;
    font-size: 2rem;
}
#footerWeakside a {
    font-size: 2rem;
}

#blurMenu {
    display:none;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.02);
    position: fixed;
    top: 0;
    backdrop-filter:blur(2px);
    z-index:10;
}

.blocChamps {
    padding: 5em 0;
}

/* CARD CHAMP */
.cardChampS {
    height:150px;
    width:100%;
    position:relative;
    margin-bottom:20px;
    padding: 0 !important;
    margin-right: 0;
    margin-left:0;
}
.cardChampS>a {
    display:flex;
    align-items:center;
    height:100%;
    text-decoration:none;
}
.cardChampS .containerImgChamp {
    width:150px;
    height:150px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.cardChampS .socleSelect {
    height:100%;
    background-color:#2C2A34;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
    flex: 1 1 auto;
}
.cardChampS .socleSelect p {
    font-size:4rem;
}
.cardChampS .socleSelect p, .cardChampM .socleSelect p {
    margin-bottom:0.5rem;
    color:white;
}
.cardChampS img {
    width: 115%;
    height: 115%;
}
.cardChampM {
    min-height:200px;
    min-width:100%;
    position:relative;
    margin-bottom:20px;
}
.cardChampM a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}
.cardChampM .containerImgChamp {
    width:200px;
    height:200px;
    position: relative;
    overflow:hidden;
    z-index: 2;
    display:flex;
}
.cardChampM .containerImgChamp img {
    width:100%;
}
.cardChampM .socleSelect {
    height:100%;
    background-color:#2C2A34;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom:0.5em;
    z-index:1;
    flex:1 1 auto;
}
.cardChampM .socleSelect p {
    font-size:3rem;
}
.cardChampM .socleSelect .difficulty {
    margin-bottom:1em;
}
.scale:hover .containerImgChamp {
    border:2px solid #CBD3FF;
    box-shadow: 0px 1px 5px 0px rgba(99,44,255,0.63);
}
.indispo img {
    filter:grayscale(1);
}
.filling-empty-space-childs {
    width: 155px !important;
    height: 0px;
}

/* RECHERCHE */
#search {
    margin-bottom:1rem;
}
#search input {
    font-size:2rem;
}
.difficulty {
    height:5px;
}

/* MATCHUP */
.blocMatchup {
    padding:2em;
    border-radius:15px;
    border:1px solid white;
    background-color:rgba(249,249,249,0.03);
    backdrop-filter:blur(3px);
    font-size:2rem;
    margin-bottom:1em;
}
.blocMatchup h2 {
    text-align:center;
    color:#9DACFF;
    font-size:2.5rem;
    margin-bottom:1em;
}
/* RUNES */
#RunesCD {
    width:100%;
    flex-wrap:wrap;
}
#runesMatchup {
    width:100%;
}
#runesMatchup>div {
    flex-direction:column;
}
.runes {
    width:20%;
}
.runesLeft, .runesRight {
    width:100%;
    justify-content:space-evenly;
}
.keystone {
    width:30%;
}
.rannexe {
    width:10%;
}

/* COOLDOWNS */
#CDMatchup {
    flex:1 1 auto;
    margin-right:0;
}
#CDMatchup img {
    width:45px;
    height:45px;
    margin-right:1em;
}
#CDMatchup>div {
    justify-content:center;
    margin-bottom:1em;
}
#CDMatchup p {
    margin-bottom:0;
}
/* BUILD */
#buildMatchup {
    width:100%;
}
#buildMatchup>div {
    margin-right:0;
}
#buildMatchup img {
    margin:0 0.5em;
    flex:1;
}
/* TIPS */
#tipsMatchup {
    width:100%;
    margin-left:0;
}
#moreTipsMatchup, #emptyMatchup {
    flex: 1 1 0;
    margin-right:0;
}
#moreTipsMatchup img {
    margin:0 0.5em;
}
#parryspell>div {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#parryspell img {
    margin-bottom:10px;
}
#emptyMatchup {
    visibility: hidden;
}

/* ABOUT */
#aboutweakside, #mentions {
    font-size: 2rem;
}
#aboutweakside h2, #mentions h2 {
    font-size:2.5rem;
    margin-bottom:1em;
}
#aboutweakside h3, #mentions h3 {
    font-size:2.2rem;
}
#aboutweakside>div:first-child {
    margin-bottom:2em;
}
#aboutweakside ul {
    list-style:none;
}
#aboutweakside a {
    color:#9DACFF;
}

/* MENTIONS */
#mentions h2 {
    margin-bottom:0;
}
#mentions a {
    color:#9DACFF;
}

/* ANIMATIONS */
@-webkit-keyframes move_menu { from { left:-100%; } to { left: 0; } }
@keyframes move_menu { from { left:-100%; } to { left: 0; } }

@-webkit-keyframes hide_menu { from { left:0; } to { left: -100%; } }
@keyframes hide_menu { from { left:0;} to { left: -100%; } }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size:1.5rem;
    }
    .soustitre {
        font-size:1rem;
    }
    .navbar-toggler-icon svg {
        width: 35px !important;
        height: 35px !important;
    }
    .logoWeakside {
        font-size:2rem;
        margin-left:0;
    }
    #menuWeakside {
        width:400px;
        padding-top:12rem;
    }
    #menuWeakside a {
        font-size:1rem;
    }
    #hideMenu {
        height:2rem;
        width:2rem;
        right:-1rem;
        top:50%;
    }
    #hideMenu img {
        width:auto;
    }
    #footerWeakside>a {
        font-size: 1rem;
    }
    #footerWeakside>div, #footerWeakside>div a {
        font-size:0.8rem;
    }
    #videoAccueil {
        background:none;
    }
    #videoAccueil iframe {
        display:block;
    }

    .blocChamps {
        padding: 0;
    }
    #search>div {
        width:50% !important;
    }
    #search input {
        font-size:1rem;
    }

    .cardChampS {
        height:130px;
        width:155px;
        padding: 0.5rem 0;
        margin-right: 0.5rem;
        margin-left:0.5rem;
    }
    .cardChampS>a {
        display:block;
        height:auto; /* peut changer */
    }
    .cardChampS .containerImgChamp {
        width:95px;
        height:95px;
        border-radius:50%;
        margin: 0 auto;
        box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.39);
    }
    .cardChampS img {
        width: 110px;
        height: 110px;
    }
    .cardChampS .socleSelect {
        width:100%;
        height:60%;
        border-radius:15px;
        background-color:#2C2A34;
        position:absolute;
        top:50%;
        align-items:end;
    }
    .cardChampS .socleSelect p {
        font-size:1rem;
    }

    .cardChampM {
        min-height:370px;
        min-width:380px;
    }
    .cardChampM a {
        display: block;
        height: auto;
        text-decoration: none;
    }
    .cardChampM .containerImgChamp {
        width:300px;
        height:300px;
        border-radius:50%;
        margin: 0 auto;
        box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.39);
        border:2px solid transparent;
    }
    .cardChampM .containerImgChamp img {
        width:auto;
    }
    .cardChampM .socleSelect {
        width:100%;
        height:70%;
        border-radius:15px;
        background-color:#2C2A34;
        position:absolute;
        top:50%;
        justify-content:end;
        padding-bottom:0.5em;
        z-index:1;
    }
    .cardChampM .socleSelect p {
        font-size:1.2rem;
        margin-bottom:1em;
    }

    .blocMatchup {
        margin: 0 1em 1em 1em;
        font-size:1rem;
    }
    .blocMatchup h2 {
        font-size:1.2rem;
    }
    #RunesCD {
        width:50%;
        margin-right:0.5em;
        flex-wrap:nowrap;
    }
    #CDMatchup>div {
        justify-content:start;
    }
    #runesMatchup {
        width:60%;
        margin-left:0;
    }
    #runesMatchup>div {
        flex-direction:row;
    }
    .runesLeft {
        width:auto;
        flex-direction:column;
        margin-right: 2.5em;
    }
    .runesRight {
        width:auto;
        flex-direction:column;
    }
    .keystone {
        width:130px;
    }
    .lastRune {
        margin-bottom:2em;
    }
    .runes {
        width:64px;
    }
    .rannexe {
        width:auto;
    }
    #buildMatchup {
        flex:1 1 auto;
        width:auto;
    }
    #buildMatchup>div {
        height:45%;
    }
    #buildMatchup img {
        flex:none;
    }
    #tipsMatchup {
        width:50%;
    }
    #moreTipsMatchup, #emptyMatchup {
        margin-left:0.5em;
    }

    #aboutweakside, #mentions {
        font-size: 1rem;
    }
    #aboutweakside h2, #mentions h2 {
        font-size:2rem;
    }
    #aboutweakside h3, #mentions h3 {
        font-size:1.75rem;
    }

    @-webkit-keyframes move_menu { from { left:-400px; } to { left: 0; } }
    @keyframes move_menu { from { left:-400px; } to { left: 0; } }

    @-webkit-keyframes hide_menu { from { left:0; } to { left: -400px; } }
    @keyframes hide_menu { from { left:0;} to { left: -400px; } }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    
}